[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Flask = ">=1.0.0"
Flask-SQLAlchemy = "==2.3.2"
flask-login = "*"
flask-migrate = "*"
wtforms = "*"
flask-wtf = "*"
wtforms-components = "*"
gunicorn = "*"
flask-ext = "*"
flask-script = "*"
psycopg2 = "*"
sqlalchemy-citext = "*"

[requires]
python_version = "3.7"
