{% extends "base.html" %}

{% block content %}

<h3>Particpants</h3>
<a href="/shipmates/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add shipmate
</a>

{% for shipmate in shipmates %}
<div class="media">
  <a href="/shipmates/{{shipmate.id}}">
    <div class="media-left">
      <img src="http://placekitten.com/g/128/192">
    </div>
    <div class="media-body">
      <h4>{{shipmate.first_name}}</h4>
      <p>{{shipmate.surname}}</p>
    </div>
  </a>
</div>
{% else %}
<p>No shipmates found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
