{% extends "base.html" %}

{% block content %}
  <h1>Upcoming events for {{ current_user.nickname }}</h1>
  {% if events %}
    {% for event in events %}
    <div class="event">
      <h3> {{ event.name }} </h3>
      <ul>
        <li><b>When: </b> {{ event.start_date.strftime('%a, %b %-d, %Y') }} at {{ event.start_time.strftime('%H:%M') }}</li>
        <li><b>Where: </b> {{ event.location }} </li>
        {% if event.organised_by == current_user.id %}
        <li>Proposed by you - <a href = " {{ url_for('create_event', modify=True, event_id=event.id) }}">Modify this event</a> - <a href = " {{ url_for('create_event', delete=True, event_id=event.id) }}">Delete this event</a></li>
        {% else %}
        <li>Proposed by {{ event.user.nickname }} on {{ current_user.responses.filter_by(event_id=event.id).first().created_at.strftime('%a, %b %-d') }}</li>
        {% if event.responses.filter_by(status="Open") %}
          <h4>Responses</h4>
            <ul>
          {% for responder in event.responses.filter_by(status="Open") %}
                <li>{{ responder.user.nickname }} - {{ responder.description }} </li>
          {% endfor %}
            </ul>
        {% endif %}
        {% if current_user.responses.filter_by(event_id=event.id).first() %}
        <li>{{ current_user.responses.filter_by(event_id=event.id, status="Open").first().response }}  <a href = " {{ url_for('response', modify=True, response_id=current_user.responses.filter_by(event_id=event.id, status="Open").first().id, event_id=event.id) }}">Modify your response</a></li>
        {% else %}
        <li><a href = "{{ url_for('response', event_id=event.id) }}">Respond</a> to this proposal</li>
        {% endif %}
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  {% else %}
    <div>
      <p>There are currently no open event proposals. Why not <a href = "{{ url_for('create_event') }}">create one</a>?
    </div>
  {% endif %}
{% endblock %}
