{% extends "base.html" %}

{% block content %}
  <h1>Upcoming events for {{ current_user.username }}</h1>
  {% if events %}
    {% for event in events %}
    <div class="event">
      <ul>
        {% for upd in event.updates.filter_by(is_active_update=True, is_active=True) %}
            <h3> {{ upd.name }} </h3>
            <li>{{ upd.start_at.strftime('%a, %b %-d, %Y') }} at {{ upd.start_at.strftime('%H:%M') }} in {{ upd.location }}</li>
            <li>Duration: {{ (upd.end_at - upd.start_at).days }} days {{ (upd.end_at - upd.start_at).seconds // 3600 }} hours</li>
            <li>Proposed by {{ event.organiser.username }} with {{ event.notice_days }} days notice </li>
            <li>Expected shipmates: {{ event.attendee_cnt }}</li>
            <li>Expected plunder per person: {{ event.points_pp }}</li>
            {% if event.organised_by == current_user.id %}
                <li><a href = " {{ url_for('create_event', modify=True, id=upd.id) }}">Modify this event</a> - <a href = " {{ url_for('create_event', delete=True, id=upd.id) }}">Delete this event</a></li>
            {% else %}
                {% if current_user.responses.filter_by(event_id=event.id, is_active=True).first() %}
                    <li><a href = " {{ url_for('response', modify=True, response_id=current_user.responses.filter_by(event_id=event.id, is_active=True).first().id, event_id=event.id) }}">Modify your response</a></li>
                {% else %}
                    <li><a href = "{{ url_for('response', event_id=event.id) }}">Respond to this proposal</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if event.responses.filter_by(is_active=True) %}
          <h4>Responses</h4>
          <ul>
          {% for responder in event.responses.filter_by(is_active=True) %}
             <li>{{ responder.user.username }} - {{ responder.description }} </li>
          {% endfor %}
          </ul>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  {% else %}
    <div>
      <p>There are currently no open event proposals. Why not <a href = "{{ url_for('create_event') }}">create one</a>?
    </div>
  {% endif %}
{% endblock %}
