{% extends "base.html" %}

{% block content %}
  <h1>Previous events</h1>
  {% if events %}
    {% for event in events %}
    <div class="event">
      <h3> {{ event.name }} </h3>
      <ul>
          <div>
           <li>When: {{ event.start_at.strftime('%a, %b %-d, %Y') }} at {{ event.start_at.strftime('%H:%M') }}</li>
           <li>Days notice: {{ event.notice_days }}</li>
           <li>Number of shipmates: {{ event.attendee_cnt }}</li>
           <li>Plunder per shipmate: {{ event.points_pp }}</li>
          </div>
      </ul>
        {% if event.attendees.filter_by(is_active=True) %}
          <h4>Attendees</h4>
            <ul>
          {% for attendee in event.attendees.filter_by(is_active=True)  %}
                <li> {{ attendee.user.nickname }}</li>
          {% endfor %}
            </ul>
        {% endif %}
        {% if event.organised_by == current_user.id %}
        <a href="{{ url_for('register_attendance', event_id=event.id) }}">Register attendance</a>
        {% else %}
        <i>Proposed by {{ event.organiser.nickname }}</i>
        {% endif %}
    </div>
    {% endfor %}
  {% else %}
    <div>
      <p>There are currently no previous events. Why not <a href = "{{ url_for('create_event') }}">create one</a>?
    </div>
  {% endif %}
{% endblock %}